@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes orbita {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.countryCard {
  transition: transform 0.2s cubic-bezier(0.34, 2, 0.6, 1);
  animation: appear 1s ease;
}

.borderCountry {
  box-shadow: 0 0 0.4375rem 0.125rem rgba(0, 0, 0, 0.15);
  transition: transform 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  animation: appear 1s ease;
}

.animateSpinner {
  animation: orbita 2s linear infinite;
  -webkit-animation: orbita 2s linear infinite;
  -moz-animation: orbita 2s linear infinite;
  -o-animation: orbita 2s linear infinite;
}

@layer base {
  body {
    @apply bg-veryLightGray dark:bg-veryDarkBlue1 dark:text-white;
  }
}
